/* Example CSS media queries */
@media (max-width: 767px) {
    .background-img {
        /* Styles for background image on small screens */
    }

    .selected-img {
        /* Styles for selected image on small screens */
    }

    /* Add styles for other images on small screens */
}

@media (min-width: 768px) {
    .background-img {
        /* Styles for background image on larger screens */
    }

    .selected-img {
        /* Styles for selected image on larger screens */
    }

    /* Add styles for other images on larger screens */

   
}

    /* .css-11yukd5-MuiTabs-indicator{
    background-color: #011638 !important;     
    } */
.css-1m10gpf-MuiPaper-root-MuiAppBar-root{
background-image: url("../assets/logo/logo-back.png")  ;
background-repeat: round;

object-fit: cover;
}
.buto{
    background-image: url("../assets/logo/logo-back.png")  ;

}
.css-11yukd5-MuiTabs-indicator{
background-color: #690500 !important;
}